/*******************  NAVBAR  *******************/
#mobile-logo {
    height: 3rem;
    width: 3rem;
}

/*******************  MAIN  *******************/
#mymain {
    height: calc(100vh - 64px);
    background-color: rgba(248,249,250,255);
}

#myhomebar {
    width: 4rem;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgba(5,30,52,255);
}

.mybtn:hover {
    background: rgba(255,255,255,0.5);
}

/*******************  INFO  *******************/
#info-pag {
    width: calc(100% - 4rem);
}

/*******************  DATA  *******************/
#logo-table {
    width: 1.5rem;
    aspect-ratio: 1;
}

.mybtnicon {
    background-color: trasparent;
    border: 1px solid rgba(0, 136, 255, 1);
}

.mybtnicon:hover {
    background-color: rgba(0, 136, 255, 0.5);
    color: white;
}

.offcanvas-size-lg {
    --bs-offcanvas-width: min(100vw, 600px);
}

/*******************  MEDIA *******************/
@media screen and (min-width:992px) {
    #mymain {
        height: calc(100vh - 53.5px);
    }

    #myhomebar {
        width: 8rem;
    }

    #info-pag{
        width: calc(100% - 8rem);
    }

}