.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4rem calc(100% - 4rem);
    grid-template-rows: 4rem calc(100vh - 4rem);
}



#myhomebar {
    background-size: cover;
    background-image: url("../img/sidebar-bg.png");
    background-color: red;
    /* grid-row: 2;  */
}

#mymain {
    background-color: green;
    
}


/**************** NAVBAR ****************/

#mynavbar {
    background-color: red;
    /* grid-column: 2; */
}

.dropdown-toggle:after {
    content: none
}

/**************** HOMEBAR ****************/
#mobile-logo {
    height: 4rem;
    width: 4rem;
}


/**************** MAIN ****************/

@media screen and (min-width:992px) {
    .grid {
        grid-template-columns: 7rem calc(100% - 7rem);
    }
}