.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5rem calc(100% - 5rem);
    grid-template-rows: 5rem calc(100vh - 5rem);
}



#myhomebar {
    background-size: cover;
    background-image: url("../img/sidebar-bg.png");
    background-color: yellowgreen;
    grid-row: 1/3; 
}

#mymain {
    background-color: green;
    grid-column: 2;
}


/**************** NAVBAR ****************/

#mynavbar {
    background-color: red;
    grid-column: 2/3;
}

.dropdown-toggle:after {
    content: none
}

/**************** HOMEBAR ****************/
#logo {
    height: 5rem;
}

#mobile-logo {
    height: 3rem;
    width: 3rem;
}


/**************** MAIN ****************/

@media screen and (min-width:992px) {
    .grid {
        grid-template-columns: 10rem calc(100% - 10rem);
        grid-template-rows: 5rem calc(100vh - 5rem);
    }
}